* {
  list-style-type:none;
}
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  border-bottom: 1px solid gray;
  margin: 20px auto;
  width: 65%;
}
.coin {
  margin: 15px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.wrapper_coin {
  width: 200px;
  height: 55px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-gap: 10px;
}
.namecoin {
  font-size: 20px;
	display: flex;
  align-items: center;
}
.iconcoin {
  width: 100%;
  height: 100%;
  display: block;
}
.path {
  height: 55px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.pricecoin {
  font-size: 19px;
}
.chart {
  height: 400px;
  width: 100%;
}
@media screen and (max-width: 900px) { 
  .wrapper {
    width: 100%;
    padding: 8px;
  }
  .coin {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .infocoin {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}